version: "3.9"

services:
  db:
    image: postgres:16
    container_name: crm_db
    environment:
      POSTGRES_DB: crm
      POSTGRES_USER: root
      POSTGRES_PASSWORD: crm2025
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d crm"]
      interval: 5s
      timeout: 5s
      retries: 20

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: crm_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy

  api:
    build: .
    container_name: crm_api
    environment:
      DATABASE_URL: postgresql+psycopg://root:crm2025@db:5432/crm
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  pg_data: